<template>
  <div>
    <DxDataGrid
      :column-auto-width="true"
      :data-source="items"
      :show-borders="true"
      @row-updated="onUpdated($event)"
      @row-removed="onRemove($event)"
      @row-inserted="onInsert($event)"
    >
      <DxColumn
        data-field="thumbnail"
        cell-template="thumbnail"
        data-type="string"
        width="150"
      />
      <template #thumbnail="{ data }">
        <img :src="data.value" width="150" />
      </template>

      <DxColumn data-field="title" data-type="string"> </DxColumn>
      <DxColumn data-field="description" :width="300" data-type="string">
      </DxColumn>
      <DxColumn data-field="price" data-type="Number"> </DxColumn>
      <DxColumn data-field="rating" data-type="Number" />
      <DxColumn data-field="stock" data-type="Number" />
      <DxColumn data-field="brand" data-type="String"> </DxColumn>
      <DxColumn data-field="category" data-type="String"> </DxColumn>
    </DxDataGrid>
  </div>
</template>

<script>
import { DxDataGrid, DxColumn } from 'devextreme-vue/data-grid'

const url = 'https://dummyjson.com'

export default {
  components: {
    DxDataGrid,
    DxColumn,
  },
  props: {
    productId: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      items: [],
    }
  },
  created() {
    this.getProduct()
  },

  methods: {
    async getProduct() {
      await this.$axios
        .$get('https://dummyjson.com/products/' + this.productId.key)
        .then((res) => {
          this.items = [{ ...res }]
        })
    },
  },
}
</script>
