<template>
  <div id="container" class="grid-container">
    <DxDataGrid
      ref="dataGrid"
      key-expr="id"
      :data-source="dataSource"
      :show-borders="true"
      :row-alternation-enabled="true"
      :column-auto-width="true"
      :allow-column-reordering="true"
      :allow-column-resizing="true"
      :remoteOperations="true"
      @row-updated="onUpdated($event)"
      @option-changed="handlePropertyChange"
      @row-removed="onRemove($event)"
      @row-inserted="onInsert($event)"
    >
      <DxHeaderFilter :visible="true" />
      <DxFilterRow :visible="true" />

      <DxColumnChooser :enabled="true" />

      <DxStateStoring
        :enabled="true"
        type="localStorage"
        storage-key="storage"
      />

      <!-- <DxColumn :group-index="0" data-field="category" /> -->
      <DxColumn
        data-field="thumbnail"
        cell-template="thumbnail"
        data-type="string"
      />
      <DxColumn data-field="title" data-type="string">
        <DxRequiredRule />
      </DxColumn>
      <DxColumn data-field="description" :width="300" data-type="string">
        <DxRequiredRule />
      </DxColumn>
      <DxColumn data-field="price" data-type="Number">
        <DxRequiredRule />
      </DxColumn>
      <DxColumn data-field="rating" data-type="Number" />
      <DxColumn data-field="stock" data-type="Number" />
      <DxColumn data-field="brand" data-type="String">
        <DxRequiredRule />
        <DxHeaderFilter :allow-search="true" />
      </DxColumn>
      <DxColumn data-field="category" data-type="String">
        <DxRequiredRule />
        <DxHeaderFilter :allow-search="true" />
        <!-- <DxLookup :data-source="categories" /> -->
      </DxColumn>

      <DxSearchPanel :visible="true" :highlight-case-sensitive="true" />
      <DxToolbar>
        <DxItem location="before" template="totalCountTemplate" />
        <DxItem name="columnChooserButton" />
        <DxItem name="addRowButton" />
        <DxItem name="searchPanel" />
      </DxToolbar>

      <template #totalCountTemplate>
        <DxButton text="Reset" @click="onStateResetClick" />
      </template>

      <template #thumbnail="{ data }">
        <img :src="data.value" width="80" />
      </template>

      <DxMasterDetail :enabled="true" template="master-detail" />
      <template #master-detail="{ data }">
        <MasterDetail :productId="data" />
      </template>

      <DxEditing
        :refresh-mode="'repaint'"
        :allow-updating="true"
        :allow-deleting="true"
        :allow-adding="true"
        :use-icons="true"
        mode="popup"
      >
        <DxPopup
          :show-title="true"
          :width="700"
          :height="525"
          title="Product Info"
        />
        <DxForm>
          <DxItem :col-count="2" :col-span="2" item-type="group">
            <DxItem data-field="title" />
            <DxItem data-field="price" />
            <DxItem data-field="rating" />
            <DxItem data-field="stock" />
            <DxItem data-field="brand" />
            <DxItem data-field="category" />

            <DxItem
              :col-span="2"
              :editor-options="{ height: 100 }"
              data-field="description"
              editor-type="dxTextArea"
            />
          </DxItem>
        </DxForm>
      </DxEditing>

      <DxGroupPanel :visible="true" />
      <DxGrouping :auto-expand-all="false" />
      <DxSearchPanel :visible="true" :highlight-case-sensitive="true" />

      <DxPaging :page-size="12" />
      <DxPager
        :show-page-size-selector="true"
        :allowed-page-sizes="[8, 12, 20]"
      />
    </DxDataGrid>
  </div>
</template>

<script>
import axios from 'axios'
import {
  DxDataGrid,
  DxColumn,
  DxPaging,
  DxPager,
  DxEditing,
  DxGroupPanel,
  DxGrouping,
  DxLookup,
  DxFilterRow,
  DxHeaderFilter,
  DxForm,
  DxPopup,
  DxRequiredRule,
  DxMasterDetail,
  DxColumnChooser,
  DxSearchPanel,
  DxStateStoring,
  DxToolbar,
} from 'devextreme-vue/data-grid'
import CustomStore from 'devextreme/data/custom_store'
import { createStore } from 'devextreme-aspnet-data-nojquery'
import 'whatwg-fetch'
import { DxTextArea } from 'devextreme-vue/text-area'
import { DxItem } from 'devextreme-vue/form'
import { DxButton } from 'devextreme-vue/button'

function isNotEmpty(value) {
  return value !== undefined && value !== null && value !== ''
}

let url = 'https://dummyjson.com/'

function handleErrors(response) {
  if (!response.ok) {
    throw Error(response.statusText)
  }
  return response
}

const store = new CustomStore({
  key: 'id',
  async load(loadOptions) {
    console.log('is options:', loadOptions)
    if (loadOptions.group) {
      const keyCat =
        loadOptions.group[0].selector === 'category' ? 'categories' : ''
      return axios.get(url + 'products/' + keyCat).then((response) =>
        response.data.map((el) => {
          return {
            key: el,
          }
        })
      )
    } else if (loadOptions.filter) {
      let text = loadOptions.filter[0].filterValue

      return axios
        .get(url + 'products/search' + '?q=' + text)
        .then((response) => response.data)
        .then((data) => ({
          data: data.products,
          totalCount: data.total,
          skyp: data.skip,
          limit: data.limit,
        }))
        .catch(() => {
          throw 'Network error'
        })
    } else if (!loadOptions.filter) {
      return axios
        .get(
          url +
            'products' +
            '?skip=' +
            (loadOptions.skip || '') +
            '&limit=' +
            (loadOptions.take || '')
        )
        .then((response) => response.data)
        .then((data) => ({
          data: data.products,
          totalCount: data.total,
          skyp: data.skip,
          limit: data.limit,
        }))
        .catch(() => {
          throw 'Network error'
        })
    }
  },
  remove: (key) => {},
  insert: (values) => {},
  update: (key, values) => {},
})

export default {
  components: {
    DxDataGrid,
    DxColumn,
    DxPaging,
    DxPager,
    DxEditing,
    DxGroupPanel,
    DxGrouping,
    DxLookup,
    DxFilterRow,
    DxHeaderFilter,
    DxForm,
    DxPopup,
    DxTextArea,
    DxItem,
    DxRequiredRule,
    DxMasterDetail,
    DxColumnChooser,
    DxSearchPanel,
    DxStateStoring,
    DxButton,
    DxToolbar,
  },
  data() {
    return {
      dataSource: store,
      categories: [],
      toast: {
        isVisible: true,
        message: 'test',
        type: 'success',
      },
    }
  },
  mounted() {
    this.getAllCategories()
  },
  methods: {
    async onUpdated(e) {
      await this.$axios.$put('products/' + e.key, {
        ...e.values,
      })
    },
    async onRemove(e) {
      await this.$axios.$delete('products/' + e.key)
    },
    async onInsert(e) {
      await this.$axios.$post('products/add', {
        ...e.values,
      })
    },
    async handlePropertyChange(e) {
      // await this.$axios.$post('products/add', {
      //   ...e.values,
      // })
      // console.log(e)
    },
    async getAllCategories() {
      await this.$axios
        .$get('https://dummyjson.com/products/categories')
        .then((res) => {
          this.categories = res.data
        })
    },

    onStateResetClick() {
      this.$refs.dataGrid.instance.state(null)
    },
  },
}
</script>

<style>
.grid-container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .grid-container {
    width: 900px;
  }
}
@media (min-width: 992px) {
  .grid-container {
    width: 1300px;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    width: 1400px;
  }
}
</style>
